*{
    padding: 0px;
    margin: 0px;

}

li{
    list-style: none;
    color: gray;
}
a{
    text-decoration: none;
    color: gray;
}
.div3{
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}
.div4{
    border-right: 1px solid grey;
}
.p3{
    border: 2px solid white;
    background-color: white;
    border-radius: 3px;
}